
















.myheading
{
  color:red;
  margin:30;
  font-size: 60px;
}

.my_card
{
  margin: 20px;
}

.productInfoDiv
{
  height:800px;
}

.productImage
{
  width:50%;
  height: 400px;
  margin-top: 50px;
}

.secondDivProduct
{
  padding: 50px;
}

.avoffre
{
  margin-top: 20px;
}

.buyNowButton
{
  margin-top: 10px;
  margin-left: 10px;
  background-color: #fb641B;
  border-radius: 5px;
  color: white;
  border:1px solid black;
  font-weight: bold;
  width: 200px;
  padding: 10px;

}

.addTocartButton
{
  background-color: #ff9f00;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  border:1px solid black;
  font-weight: bold;
  width: 200px;
  padding: 10px; 
}

.my_login_div
{
  margin-top:50px;
  border-radius: 25px;
  border:2px solid black
}

.myproduct_insert_div
{
  padding:50px;
  height: 900px;
}

.datamsg
{
  margin-top: 30px;
}

















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
